:root {
	--blue: #8cc8dc;
	--red: #f36767;
	--black: #181818;
	--white: #fafafa;
}

* {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--white);
	font-family: "Poppins", sans-serif;
}

.app_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: app_fadeIn 2s ease;
}

@keyframes app_fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.logo {
	width: 150px;
}

.app_text {
	font-size: 2rem;
	padding: 1rem 2rem;
	text-align: center;
}
